body{
    margin:0;
    padding:0;
    font-family: soleto medium;
    background-image: linear-gradient(to top left, #68828C , #F2F2FF);
    background-attachment: fixed;
    }
    div
            {
            margin: 20px;
            width: 100hh;
            height: 100vh;
            background: #68828C2B;
            border-radius: 40px;
            
            }
