    .div
    {
    display:inline-block;
    list-style:none;
    }
    .logo
    {
    float:left;
    width:300px;
    height:auto;
    padding-left:2%;
    padding-top:2%;
    opacity:0.7;
    }
    .eml
    {
    float:right;
    width:500px;
    height:auto;
    transform: translate(20%,180%);
    opacity:0.2;
    }