body{
    background-image: linear-gradient(to top left, #68828C , #F2F2FF);
    background-attachment: fixed;
    margin:0;
    padding:0;
    font-family: soleto medium;
    }
    .menu
    {
    display:inline-flex;
    list-style:none;
    }
    .menu h1
    {
    width:1500px;
    margin:10px;
    padding:10px;
    }
    .box
    {
    width:300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #B0C4DE;
    text-align:center;

    }
    .box h1
    {
    color:white;
    //text-transform:uppercase;
    font-weight:center;
    }
    .box input[type="email"],.box input[type="password"]
    {
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:1px solid #0367fd;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0,25px;
    }
    .box input[type="email"]:focus,.box input[type="password"]:focus
    {
    width:270px;
    border-color:#ffc400ec;
    }
    .box input[type:"submit"]
    {
    border:0;
    background:none;
    display:block;
    text-align:center;
    border:1px solid #ffc400ec;
    padding:14px 10px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    }
    .box input[type:"submit"]:hover
    {
    background:#ffc400ec;
    }
    div {
        margin: 20px;
        width: 100hh;
        height: 100vh;
        background: #68828C2B;
        border-radius: 40px;
        left: 20px;
        top: 20px;
        right: 20px;
        bottom: 20px;
    }

